/*Navbar Baslangic*/
.navbar{
    width: 100%;
    height: 170px;
    /*background-color: rgb(38, 136, 216);*/
    /*background-color: rgb(240, 172, 45); */
    background-color: #c56f06; 
    /*background-color: rgb(88, 88, 184);*/
    display: flex;
    justify-content: space-between;
  }
  
  .navbar img{
    display: flex;
    height: 100px;
    width: 100px;
    
  }
  .leftSide img{
    border-radius: 100px;
  }
  .navbar img,h2{
    
    float: left;
    margin-top: 30px;
    margin-left: 40px;
  }
  .navbar h2{
    font-size: 45px;
    margin-top: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .rightSide{
    margin-top: 70px;
    display: flex;
  }
  .rightSide a{
    
    
    margin-right: 35px;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    color: rgb(33, 32, 32);
    /*color: rgb(212, 205, 205);*/
    font-family: Courier New;
    transition-property: color;
    transition-duration: 1s;
  
  }
  .rightSide a:hover{
    color: white;
  }

  .rightSide img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: -10px;

    
  }

 